<!doctype html>
<html lang="en">
  <head>
    {{> head}}
    <title>{{title}}</title>
  </head>
  <body>
       {{> menu_signed}}
        <div id="wrapper">            
                {{> table_nav}}
             
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <h1>{{title}}</h1>
                        <p>Тут какое то интересное описание</p>                        
                        <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Список таблиц</a>
                            <div class="div-table">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                        {{#each tableHead}}
                                            <th>{{this}}</th>
                                        {{/each}}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each organizations}}
                                            <tr>
                                                <td>{{this.id}}</td>
                                                <td>{{this.name}}</td>
                                                <td>{{this.team_fight}}</td>                                            
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>              
        
            </div>           
                           
            {{> script}}

    </body>
</html>