<!doctype html>
<html lang="en">
  <head>
    {{> head}}

    <title>{{title}}</title>
    </head>
    <body>
        {{> menu_signed}}
        <div id="dataform-wrapper">
            <div id="dataForm">
                    <form id="my_form">
                    <div class="form-group">
                    <legend class="m-b-1">Добавить результат</legend>
                        <div class="form-group">
                            <label for="result1">Попытка 1 (метры)</label>
                            <input class="form-control" id="result1" type="number" min="0" max="100" step="0.01"/>
                            <label for="result1">Попытка 2 (метры)</label>
                            <input class="form-control" id="result1" type="number" step="0.01"/>
                            <label for="result1">Попытка 3 (метры)</label>
                            <input class="form-control" id="result1" type="number" step="0.01"/>
                            <label for="dis">Дисквалификация</label>
                            <input id="dis" type="checkbox"/>
                        </div>       
                    </div>
                            <input class = "btn btn-primary" id="saveResult" type="button" value="Сохранить" />
                            <input class = "btn btn-secondary" id="cancelButton" type="button" value="Отмена"/>
                    </form>
            </div> 
        </div> 

        <div id="overlay"></div>
        <div id="wrapper">            
            {{> table_nav}}
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <h1>{{title}}</h1> 
                    
                    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Другие данные</a><br>
                    <div style="width: 40%">
                        <label for="competition">Соревнования</label>  
                        <select class="form-control competition" id="competitionsSelect">
                            {{#each competitions}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}                                    
                        </select>                    
                        <label for="type">Вид</label>  
                        <select class="form-control type"  id="athleticsType">
                            {{#each athletics}}
                                <option value="{{this.id}}">{{this.athletics_type.name}} - {{this.gender_type.gender_type}}</option>
                            {{/each}}                          
                        </select>
                        <div style="margin: 10px auto;">
                            <button class="btn btn-primary startFinal">Начать финал</button>
                        </div>
                    </div>
                    <div style="width: 80%; position:absolute; left:5%; margin-top:30px"></div>
                        <div class="div-table" style="display:inline-block; width: 45%">
                            <h3>Квалификация</h3>
                            <table class="table table-hover"  id = "table">
                                <thead>
                                    <tr>
                                    {{#each tableHead}}
                                        <th>{{this}}</th>
                                    {{/each}}
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each results}}
                                    <tr data-id="{{this.id}}">
                                        <td>{{this.run}}</td>
                                        <td>{{this.track}}</td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.result}}</td>
                                        <td>
                                            <button class="btn btn-primary changeResult">Результат</button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="div-table" style="margin-left: 50px; display:inline-block; width: 45%">
                            <h3>Финал</h3>
                            <table class="table table-hover"  id = "table-final">
                                <thead>
                                    <tr>
                                        <th>Номер дорожки</th>
                                        <th>Спортсмен</th>
                                        <th>Результаты</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Жузин К. П.</td>
                                        <td>00:00:07.900</td>
                                        <td>
                                            <button class="btn btn-primary changeResult">Результат</button>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>2</td>
                                        <td>Михин К.Т.</td>
                                        <td>00:00:06.500</td>
                                        <td>
                                            <button class="btn btn-primary changeResult">Результат</button>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>3</td>
                                        <td>Локин Б. В.</td>
                                        <td>00:00:06.100</td>
                                        <td>
                                            <button class="btn btn-primary changeResult">Результат</button>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>4</td>
                                        <td>Тарасов Л. М.</td>
                                        <td>00:00:07.800</td>
                                        <td>
                                            <button class="btn btn-primary changeResult">Результат</button>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>5</td>
                                        <td>Крыльцов В. В.</td>
                                        <td>00:00:08.800</td>
                                        <td>
                                            <button class="btn btn-primary changeResult">Результат</button>
                                        </td>
                                    </tr>                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>                            
        {{> script}}
    </body>
</html>